.mainContainer, .mainCtnArticle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(168,118,230);
  background: linear-gradient(90deg, rgba(168,118,230,1) 0%, rgba(255,209,102,1) 50%, rgba(255, 107, 107, 0.788) 100%);
}

.mainContainer {
  min-height: 130vh;
}

.mainCtnArticle {
  min-height: 135vh;
}

/* Containers */
.container, .cntArticle {
  width: 700px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #000;
  border-radius: 10px;
  padding: 30px 40px;
  background-color: #fff;
}

.container {
  height: 700px;
}

.cntArticle {
  height: 920px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 36px;
  text-align: center;
  text-shadow: 1px 1px 5px #FFD8B8;
  margin-bottom: 10px;
}

.inputBox {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.inputBox label, .inputBox .emailInput {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.5s;
}

/* Faz com que a label do email sempre esteja levantada, so para o editUser*/
.inputBox .emailInput {
  top: -5px;
}

.inputBox input:focus~label,
.inputBox input:valid~label {
  top: -5px;
}

.inputBox input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #000;
  padding: 20px 45px 20px 20px;
  border-bottom: 2px solid #FFD8B8;
}

.inputBox input:focus {
  border-bottom: 2px solid #FFC184;
}

.inputBox input::placeholder {
  color: #000;
}

.check {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 0 15px;
}

.file {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}

.file input::file-selector-button {
  height: 25px;
  background-color: #FFC184;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #333;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: 500ms background-color ease-in-out;
}

.file input::file-selector-button:hover {
  background-color: #ff6b6bc9;

}

.contentText {
  width: 100%;
  height: 225px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contentText textarea {
  width: 100%;
  height: 100%;
  font-size: 1em;
  margin-top: 5px;
  border: 2px solid #FFD8B8;
  border-radius: 5px;
  outline-color: #FFC184;
  resize: none;
  text-align: justify;
  padding: 10px;
}

.hidden {
  display: none;
}

.btn {
  position: relative;
  width: 30%;
  height: 45px;
  background: #FFD8B8;
  background-image: linear-gradient(90deg, #FFD8B8, #FFC184, #FFC184, #ff6b6bc9);
  background-size: 300% ;
  background-position: left;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  cursor: pointer;
  transition: 500ms background-position ease-in-out;
}

.btn:hover{
  background-position: right; 
}

/* Página de edição de artigo */
.updateImg {
  width: 25%;
}
.updateImg img {
  width: 100%;
}
